# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/.idea/
/out/
*.jks
Client/.idea/workspace.xml
Back End/FantasyFRCBackend/.idea/workspace.xml
Client/.idea/workspace.xml
Back End/FantasyFRCBackend/.idea/workspace.xml
Back End/FantasyFRCBackend/.idea/workspace.xml
Client/.idea/workspace.xml
Client/mytestkey.jks
